<div class="container">
  
<form [formGroup]="personForm" (ngSubmit)="onSubmit()" >
  <div formArrayName="hobbies" *ngFor="let choice of getControls(); let i = index" class="col-md-2">
    <label>
      <!-- <input type="checkbox" [value]="choice.value" [checked]="choice.selected" (change)="onCheckChange($event)"> -->
      <input type="checkbox" [formControlName]="i">
      {{myhobbies[i].name}}
    </label>
  </div>
  
  <p>
    <button (click)="selectAll()">Select All</button> &nbsp;&nbsp;
    <button type="submit" [disabled]="!personForm.valid">Submit</button>
  </p>
</form> 

<br><br>
  <p>Form value: {{ personForm.value | json }}</p>

</div>

